# Ignore Python virtual environments
ats-env/
venv/
env/

# Bytecode and cache
__pycache__/
*.pyc
*.pyo

# Ignore logs, datasets, and test files
*.log
*.csv
*.pdf

# VSCode and system files
.vscode/
*.DS_Store